/* Global Styles */
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: #312e38;
  -webkit-font-smoothing: antialiased !important;
  height: 100%;
  display: flex;
  flex-flow: column;
  background-image: linear-gradient(
    to top,
    rgb(223, 159, 232),
    rgb(94, 137, 223)
  );
  background-repeat: no-repeat;
}

section {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
}

body,
input,
button {
  font: 1rem 'Roboto', sans-serif;
}

button,
label,
a {
  cursor: pointer;
}

/* Custom Styles */
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 768px;
  align-self: center;
  padding: 1.5rem;
  position: center center;
}

.wrapper__main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrapper__main-content__searching {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.wrapper__main-content__searching--input {
  background: rgba(243, 231, 231, 0.2);
  border: none;
  height: 2rem;
  border-radius: 5px;
  padding: 10px;
  color: #312e38;
  font-weight: 600;
}

.wrapper__main-content__searching--input::placeholder {
  color: #312e38;
  font-weight: 600;
}

.wrapper__main-content__searching--button {
  background: rgba(243, 231, 231, 0.2);
  border: none;
  height: 2rem;
  font-size: 1.3rem;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  line-height: 0;
  padding: 10px;
  color: #312e38;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.wrapper__main-content__searching--button--search-icon {
  font-size: 1rem;
  color: #312e38;
  margin-left: 10px;
}

.wrapper__main-content__current-weather {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 231, 231, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
}

.wrapper__main-content__current-weather__city {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h3 {
    line-height: 1.5rem;
  }

  span {
    color: #656464;
    font-size: 14px;
  }
}

.wrapper__main-content__current-weather__thermal-sensation {
  border: 2px solid red;
  width: 100%;
  padding: 10px;
}

.wrapper__main-content__current-weather__other-infos {
  width: 100%;
  padding: 10px;
}

.wrapper__main-content__current-weather__other-infos--group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.wrapper__main-content__current-weather__other-infos--group-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.wrapper__main-content__current-weather__other-infos--group-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
}

.wrapper__main-content__current-weather__other-infos--group-items,
span {
  font-weight: 600;
}

.span-bold {
  color: #656464;
}

.wrapper__main-content__next-weathers {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  align-items: center;
  gap: 10px;
}

.wrapper__main-content__next-weathers__group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.wrapper__main-content__next-weathers__group span {
  background: rgba(243, 231, 231, 0.2);
  font-size: 14px;
  border-radius: 5px;
  padding: 10px;
  margin: 0 1%;
  color: #312e38;
  font-weight: 600;
  align-self: center;
}

.wrapper__main-content__next-weathers__group-line-spacing {
  flex: 1;
  height: 2.5px;
  border-radius: 5px;
  background: rgba(243, 231, 231, 0.2);
}

.wrapper__main-content__next-weathers__next-hours {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  justify-items: center;
}

.wrapper__main-content__next-weathers__next-hours--card {
  width: 100%;
  max-width: 22%;
  height: 100%;
  background: rgba(243, 231, 231, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 10px 0px 10px;
  justify-content: space-between;
  max-height: 200px;
}

.wrapper__main-content__next-weathers__next-hours--card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: large;
}

.wrapper__main-content__next-weathers__next-hours--card strong {
  color: #656464;
  font-size: x-large;
}

.wrapper__main-content__next-weathers__next-hours--card span {
  font-weight: 500;
}

.wrapper__main-content__next-weathers__next-hours--card-max-celsius {
  color: #e55151;
}

.wrapper__main-content__next-weathers__next-hours--card-min-celsius {
  color: #4aace9;
}

.wrapper__main-content__next-weathers__next-hours--card-prediction {
  color: #656464;
  border: 2px solid white;
  background-color: white;
  padding: 0px 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.icon__size {
  font-size: 3rem;
  color: white;
}

/* Media queries*/
@media (max-width: 600px) {
  .wrapper__main-content__next-weathers__next-hours {
    justify-content: space-between;
    gap: 10px;
  }

  .wrapper__main-content__next-weathers__next-hours--card {
    max-width: 100%;
  }

  .icon__size {
    font-size: 2.5rem;
  }

  .wrapper__main-content__next-weathers__next-hours--card div {
    font-size: larger;
  }
  .wrapper__main-content__next-weathers__next-hours--card strong {
    font-size: larger;
  }

  .wrapper__main-content__next-weathers__next-hours--card-prediction {
    font-size: 13px;
    text-align: center;
  }
}

@media (max-width: 470px) {
  .wrapper__main-content__next-weathers__next-hours {
    flex-direction: column;
  }
  .wrapper__main-content__next-weathers__next-hours--card {
    flex-direction: row;
  }

  .wrapper__main-content__next-weathers__next-hours--card div {
    width: 20%;
  }

  .wrapper__main-content__next-weathers__next-hours--card-prediction {
    border-radius: 5px;
  }
}

@media (max-width: 370px) {
  .wrapper__main-content__next-weathers__next-hours--card div {
    width: 20%;
  }

  .wrapper__main-content__next-weathers__next-hours--card div {
    font-size: 14px;
  }
  .wrapper__main-content__next-weathers__next-hours--card strong {
    font-size: 14px;
  }

  .wrapper__main-content__next-weathers__next-hours--card-prediction {
    font-size: 12px;
  }
  .icon__size {
    font-size: 2rem;
  }

  .wrapper__main-content__searching--input {
    width: 100%;
  }

  .wrapper__main-content__searching--button {
    font-size: 1.3rem;
  }

  .wrapper__main-content__searching {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 310px) {
  .wrapper__main-content__next-weathers__next-hours--card div {
    font-size: 12px;
  }

  .wrapper__main-content__next-weathers__next-hours--card-prediction {
    font-size: 12px;
  }
  .icon__size {
    font-size: 1.5rem;
  }

  .wrapper__main-content__next-weathers__next-hours--card strong {
    font-size: 14px;
  }
}
